@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* styles.css */
.scrollbar-hidden {
  @apply overflow-hidden; /* Hides scrollbar but keeps content scrollable */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

/* Constrain the CatalogueDrawerContent height and enable scrolling */
.workout-list {
  height: 200px; /* Adjust the height to fit your page layout */
  overflow-y: auto;
  width: 100%; /* Ensure it does not extend beyond the container */
}

.session-page {
  height: 100vh;
  overflow: hidden;
}

.exercise-description-box {
  max-width: 100%;
}

.video-placeholder {
  height: 150px; /* Adjust as needed */
}

.session-page {
  overflow: hidden; /* Prevents drawer overflow */
}
